/* Mobile View */
body {
  width: 480px;
  height: 767px;
  margin: auto;
}

.container {
  border: 1px solid gray;
  box-sizing: border-box;
}

/* Desktop View */
@media only screen and (min-width: 960px) {
  body {
    width: 960px;
    height: 788px;
  }
}